body{
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
}
h1{
    color: white;
    font-size: 300%;
    line-height: 0%;
}
h2{
    color: white;
    font-size: 180%;
    font-style: italic;
    line-height: 0%;
}
.name{
    display: flex;
    justify-content: center;
}
p{
    color:white;
    font-size: 150%;
    font-style: italic;
    font-style: oblique;
    line-height: 200%;
}
